<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="net.genady.rmi.rmiServer">
<listAttribute key="net.genady.rmi.launchProp.codebase">
<listEntry value="file:${workspace_loc:/print-server/bin}"/>
<listEntry value="file:${workspace_loc:/print-common/bin}"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/print-server/src/server/MainServer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="server.MainServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="print-server"/>
</launchConfiguration>
