<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="net.genady.rmi.rmiServer">
<mapAttribute key="net.genady.rmi.launchProp">
<mapEntry key="java.security.policy" value="${workspace_loc:/print-client/security.policy}"/>
</mapAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/print-client/src/client/MainClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="client.MainClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="localhost"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="print-client"/>
</launchConfiguration>
